* {
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

input {
    -webkit-user-select: auto; /*webkit浏览器*/
}

.touch_select {
    -webkit-touch-callout: auto !important; /*系统默认菜单被禁用*/
    -webkit-user-select: auto !important; /*webkit浏览器*/
    -khtml-user-select: auto !important; /*早期浏览器*/
    -moz-user-select: auto !important; /*火狐*/
    -ms-user-select: auto !important; /*IE10*/
    user-select: auto !important;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    font-size: 0.85rem;
    font-family: arial, "Microsoft Yahei";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling:touch;
}

ul,li {
    list-style: none;
}

img {
    border: none;
    display: block;
}
